
.Cockpit {
  text-align: center;
}

.red {
  background-color: #c0392b
}

.green {
  background-color: #27ae60;
}

.Cockpit button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Cockpit button.green {
  margin-left: 10px;
  background-color: #27ae60;
  color: #fff;
}

.Cockpit button.green:hover {
  background-color: #2ecc71;
  color: #fff;
}

.Cockpit button.red {
  margin-left: 10px;
  background-color: #c0392b;
  color: #fff;
}

.Cockpit button.red:hover {
  background-color: #e74c3c;
  color: #fff;
}